@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensed-BoldItalic';
  src: url('fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensed-Italic';
  src: url('fonts/RobotoCondensed-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('fonts/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensed-LightItalic';
  src: url('fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
body {
  font-size: 15px;
  font-family: RobotoCondensed-Regular;
  /*@media(max-width: 992px) {
        [class*="weathercontainer"] {
            padding: 30px 0;

            > .day-weather {
                width: 100%;
            }
        }
    }*/
}
body .form-group {
  padding: 50px 0;
  text-align: center;
}
body [class*="weathercontainer"] {
  padding: 30px 0;
}
body [class*="weathercontainer"] > .day-weather {
  display: inline-block;
  text-align: center;
}
body .weathercontainer1 .day-weather {
  width: 100%;
}
body .weathercontainer2 > .day-weather {
  width: 49%;
}
body .weathercontainer3 > .day-weather {
  width: 32.3333%;
}
body .weathercontainer4 > .day-weather {
  width: 24%;
}
body .weathercontainer5 > .day-weather {
  width: 19%;
}
body .day-weather {
  padding: 20px 0;
  text-transform: capitalize;
  background-image: linear-gradient(#ffdb4e, #ff9872);
}
body .day-weather .description {
  text-transform: uppercase;
  font-family: RobotoCondensed-Bold;
}
body .day-weather .c-temp {
  font-size: 30px;
}
body .day-weather.clearsky {
  background-image: linear-gradient(#ffdb4e, #ff9872);
}
body .day-weather.fewclouds {
  background-image: linear-gradient(#03B9A5, #30ECEB);
}
body .day-weather.scatteredclouds,
body .day-weather.brokenclouds,
body .day-weather.overcastclouds {
  background-image: linear-gradient(#3E93B2, #44EDEC);
}
body .day-weather.showerrain {
  background-image: linear-gradient(#066E94, #6fd4fb);
}
body .day-weather.rain {
  background-image: linear-gradient(#24A0CD, #6fd4fb);
}
body .day-weather.thunderstorm {
  background-image: linear-gradient(#0A465D, #61A1BA);
}
body .day-weather.snow {
  background-image: linear-gradient(#74A3DE, #DCEDF4);
}
body .day-weather.mist {
  background-image: linear-gradient(#919494, #D6D8D9);
}